
.DialogArticleEditor-content {
	z-index: 100;
	height: 100% !important;
	width: 100% !important;
}

.DialogArticleEditor-content button {
	display: inline !important;
	position: relative !important;
}

.DialogArticleEditor-item-remove-button {
	position: absolute;
	top: 1px;
	right: 3px;
    z-index: 150;
}

.DialogArticleEditor-item-remove-button:hover {
    color: #ffa8b0;
}

.DialogArticleEditor-item {
    position: absolute;
	border: lightgrey 1px solid;
    background: repeating-linear-gradient(
      135deg,
      lightgrey,
      lightgrey 1px,
      rgba(0, 0, 0, 0) 1px,
      rgba(0, 0, 0, 0) 4px
    );
}

.DialogArticleEditor-item .col-md-12 {
    margin: 0;
}

.DialogArticleEditor-item .FormLine .row div .FormLine-label {
	padding: 2px 10px !important;
	cursor: pointer;
}

.DialogArticleEditor-item .FormLine .row div textarea {
	height: calc(100% - 11px);
	resize: none;
}

.DialogArticleEditor-block-buttons {
    margin: 15px 0px;
    text-align: center;
}

.DialogArticleEditor-layout {
    margin-left: 15px;
}

.DialogArticleEditor-item-new {
    border: #8fddff 1px solid;
    background: repeating-linear-gradient(
        135deg,
        #8fddff,
        #8fddff 1px,
        rgba(0, 0, 0, 0) 1px,
        rgba(0, 0, 0, 0) 4px
    );
}

.DialogArticleEditor-item-modified {
    border: #bcebff 1px solid !important;
    background: repeating-linear-gradient(
        135deg,
        #bcebff,
        #bcebff 1px,
        rgba(0, 0, 0, 0) 1px,
        rgba(0, 0, 0, 0) 4px
    ) !important;
}

.DialogArticleEditor-image-wrapper {
    height: 100%;
}

.medium-editor-element blockquote {
    margin: 0px 10px;
    font-style: italic;
}

.DialogArticleEditor-item .popup-content {
    width: 100% !important;
}

.DialogArticleEditor-top-bar {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .DialogArticleEditor-menu {
        position: fixed;
        width: inherit;
        max-width: inherit;
        height: calc(100vh - 100px);
        overflow-y: auto;
        overflow-x: hidden;
    }

    .DialogArticleEditor-menu-wrapper {
        padding: 0 !important;
    }
}

.DialogArticleEditor-menu {
    box-shadow: rgba(149, 157, 165, 0.8) 0px 8px 24px;
    padding: 5px;
    background-color: #E9E9E9;
}

.DialogArticleEditor-menu button {
    width: 100%;
    text-align: left;
    bottom: 0 !important;
    right: 0 !important;
}