
.DialogSelectImage-content {
	padding-bottom: 100px !important;
	height: 100%;
}

.DialogSelectImage-content-image {
	text-align: center;
}

.DialogSelectImage-content-close-button {
	position: absolute;
	bottom: 25px;
	right: 25px;
}