
#PageAddCompany .card {
	margin-bottom:  10px;
}

#PageAddCompany .card .card-icon{
	margin: 25px auto 0px auto;
	font-size:  35px;
}

#PageAddCompany .card .card-title, #PageAddCompany .card .card-body {
	text-align: center;
	font-size:  15px;
}

.PageAddCompany-claim-message div {
	text-align: center;
}

.PageAddCompany-claim-message i {
	font-size: 35px;
}