
#InsideApp {
    width: 100%;
    height: 100%;
    background-color: var(--logo-color) !important;
}

#InsideApp-content {
    float: right;
    width: calc(100% - 62px);
    height: 100%;
    overflow-y: auto;
    background-color: var(--logo-color) !important;
}