
.EntityLogo-dragdrop {
	padding: 20px;
	width: 100%;
	height: 100px;
    border: 7px dashed lightgrey;
    border-radius: 8px;
    display: table;
    margin-bottom: 24px;
}


.EntityLogo-dragdrop i {
	font-size: 48px;
}

.EntityLogo-dragdrop-textContent {
	display: table-cell;
	height: 100%;
	width: 100%;
	text-align: center;
	color: grey;
	vertical-align: middle;
}

.EntityLogo-logo-change-wrapper {
	text-align: center;
	margin-bottom: 24px;
}

.EntityLogo-logo-change {
	max-height: 300px;
	max-width: 300px;
	width: 100%;
	margin: auto;
}

.EntityLogo-center {
	text-align: center;
}

.EntityLogo-center img {
	max-width: 100%;
}