
#CompanyCollaborator .card {
	margin-bottom:  10px;
}

#CompanyCollaborator .card .card-icon {
	margin: 25px auto 0px auto;
	font-size:  35px;
}

#CompanyCollaborator .card .card-title {
	text-align: center;
	font-size:  15px;
}