import os

ENVIRONMENT = os.getenv('ENVIRONMENT', 'dev')

JWT_SECRET_KEY = os.getenv('JWT_SECRET_KEY', "my_$secret_D3v3lop3r_k3Y")

DB_CONFIG = {
    'drivername': 'mysql+pymysql',
    'username': os.getenv('DB_USERNAME', 'cyberlux'),
    'password': os.getenv('DB_PASSWORD', 's0mething_mor3_complex_here!!'),
    'host': os.getenv('DB_HOSTNAME', 'localhost'),
    'port': os.getenv('DB_PORT', '3306'),
    'database': os.getenv('DB_NAME', 'CYBERLUX'),
}

MAIL_SERVER = os.getenv('MAIL_SERVER', "localhost")
MAIL_PORT = os.getenv('MAIL_PORT', "1025")
MAIL_USERNAME = os.getenv('MAIL_USERNAME', "mail@address.com")
MAIL_PASSWORD = os.getenv('MAIL_PASSWORD', None)
MAIL_USE_TLS = os.getenv('MAIL_USE_TLS', "False")
MAIL_USE_SSL = os.getenv('MAIL_USE_SSL', "False")
MAIL_DEFAULT_SENDER = os.getenv('MAIL_DEFAULT_SENDER', "mail@address.com")

HTTP_PROXY = os.getenv('HTTP_PROXY', None)

IMAGE_FOLDER = os.getenv('IMAGE_FOLDER', "/tmp/image_folder")

CORS_ORIGINS = '*'