
.Website-link-disabled {
    pointer-events: none;
}

.Website {
    position: relative;
    height: 20px;
    overflow: visible;
    margin: 2px 0px;
    line-height: 1.0;
    font-size: 15px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 3px 5px 3px 7px;
    height: 22px;
    animation: halfFixedPopEffect 0.5s ease;
    -moz-animation: halfFixedPopEffect 0.5s ease;
    -webkit-animation: halfFixedPopEffect 0.5s ease;
    -o-animation: halfFixedPopEffect 0.5s ease;
}

.Website:hover {
    background-color: rgba(0, 159, 227, 0.05);
}

.Website-disabled {
    color: grey;
    cursor: default;
}

.Website-disabled:hover {
    background-color: rgba(0, 159, 227, 0);
}

.Website-name {
    display:inline-block;
    width: calc(100% - 12px);
    padding-left: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.Website i {
    font-size: 14px;
    line-height: 1.2;
}