
.FormQuestion-question {
	width: 100%;
	background-color: rgba(46, 83, 193, 0.123);
}

.FormQuestion-question-hidden {
	background-color: lightgrey !important;
}

.FormQuestion-question .FormLine-label {
	font-weight: bold;
}