
#Login {
    width: 100%;
    height: 100%;
}

#Login-box {
    width: 500px;
    position: absolute;
    left: calc(50% - 250px);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background:
        linear-gradient(to right, black 20px, transparent 4px) 0 0,
        linear-gradient(to left, black 20px, transparent 4px) 100% 100%,
        linear-gradient(to bottom, black 20px, transparent 4px) 0 0,
        linear-gradient(to top, black 20px, transparent 4px) 100% 100% !important;
    background-repeat: no-repeat !important;
    background-size: 80px 80px !important;
    padding: 6px 20px 80px 20px;
}

#Login-inner-box {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

#Login-area {
    width: 100%;
    height: 100%;
    background: linear-gradient(110deg, #EEE 60%, #E9E9E9 60%);
}

.Login-title-small {
    font-size: 14px;
}

/* BACKGROUND EFFECT */

.Login-circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Login-circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-image: url("../img/logo.png");
    background-size: cover;
    animation: animate 25s linear infinite;
    bottom: -150px;
   
}

.Login-circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.Login-circles li:nth-child(2){
    left: 15%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.Login-circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.Login-circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.Login-circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.Login-circles li:nth-child(6){
    left: 70%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.Login-circles li:nth-child(7){
    left: 5%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.Login-circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.Login-circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.Login-circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: .3;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }

}