
.TabStep {
}

@media (min-width: 0px) {
    .TabStep-menu {
        display: flex;
    	margin: 20px 0px;
        z-index: 0;
        border: 1px solid black;
    }
}

.TabStep-menu-el {
    flex: 1;
    position: relative;
	cursor: pointer;
	color: #010101;
    text-transform: uppercase;
    font-family: "Fjalla One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    width: 100%;
    max-width:inherit;
    text-align: center;
}

.TabStep-menu-el:hover {
	background-color: rgba(0, 159, 227, 0.05);
    color: black !important;
}

.TabStep-menu-el-selected {
    background-color: #009fe3;
    color: white;
    cursor: default;
}

.TabStep-menu-el-selected:hover {
    background-color: #009fe3;
    color: white !important;
}


.TabStep-menu-el-selected:after{
    background: #3aac5d;
}

.TabStep-menu-el-selected:before{
    background-color: var(--light-primary-color);
    color: white;
}