<p>Dear {{ first_name }},</p>
<p>You have expressed an interest in registering an entity.</p>

<p>
    To complete the registration, please:
    <ul>
        <li>
            Complete the attached form and have it signed by your organisation's signatory
        </li>
        <li>
            Go to this link: <a href="{{ url|safe }}"> Complete Registration</a>
        </li>
    </ul>

    <span style="font-style: italic; font-size: 0.8rem;">Please have the form ready for the regisration process.</span>
</p>

<p>Sincerely,</p>
<p>
    <img src="https://cybersecurity-centre.europa.eu/sites/default/files/site-logo-overrides/eccc-logo-web-purpose-desktop.svg"
        width="200px">
</p>