<p>Dear {{ email }},</p>
<p>An account has been created with your email address.</p>

<p>
    To verify your email address, please go to this link:
    <br><br>
    <a href="{{ url|safe }}">
        Verify Email Address
    </a>
    <br>
    <span style="font-style: italic; font-size: 0.8rem;">This link expires in an hour.</span>
</p>

<p>Sincerely,</p>
<p>
    <img
    src="https://cybersecurity-centre.europa.eu/sites/default/files/site-logo-overrides/eccc-logo-web-purpose-desktop.svg"
    width="200px">
</p>