<p>Dear user,</p>
<p>
    To reset your password,
    <a href="{{ url }}">
        click here
    </a>.
</p>
<p>The password reset will be active for 15 minutes.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url }}</p>
<p>Sincerely,</p>
<p>
    <img src="cid:logo" alt="Logo" style="width:200px;">
</p>
<p>
    If you did not request this, please inform us through the Contact Us form available here <a href="https://ncc-mita.gov.mt/contact-us/">https://ncc-mita.gov.mt/contact-us/</a> with the date and time of the email received.
</p>